{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/home/navbar.css" %}">

<nav class="navbar navbar-expand-md navbar-light bg-faded" style="padding-top:0px;background-color:#82CAFA;padding-bottom:0px;margin-bottom:0.5rem">
  <a class="navbar-brand" href="/">Vapor</a>
  <div class="navbar-expand" id="navbarNav">
    <ul class="navbar-nav">
      {% if is_logged_in %}
        <li class="nav-item">
          <a class="nav-link {% if nav_context == 'Reports' %}active{% endif %}" href="/report/create_report/">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav_context == 'Search' %}active{% endif %}" href="/search/">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav_context == 'Messages' %}active{% endif %}" href="/messages/">Messages{% if unread_messages > 0 %}({{unread_messages}}){% endif %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav_context == 'Profile' %}active{% endif %}" href="/users/myprofile/">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout/">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link {% if nav_context == 'Search' %}active{% endif %}" href="/search/">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav_context == 'Register' %}active{% endif %}" href="/users/register/">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav_context == 'Login' %}active{% endif %}" href="/users/login/">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
