{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">

<link rel="stylesheet" type='text/css' href="{% static 'cart/style.css' %}" />

{% include "home/navbar.html" %}
<div class="l-margin">
	{% if name %}
		<h1> Your Shopping Cart </h1>

		<table>
			<tbody>
				<tr>
					<th> Product </th>
					<th> Price </th>
				{% for product in items %}
					<tr>
						<td> {{ product.product_name }} </td>
						<td> $ {{ product.price }} </td>
					</tr>
				{% endfor %}

				<tr class="totalrow">
					<td> Total </td>
					<td> $ {{ transaction_total }} </td>
				</tr>
			</tbody>
		</table>

		<form method='post'>
			{% csrf_token %}
			<input type='submit', name='checkout', value='Checkout' />
			
		</form>

	{% else %}
		<h1> Invalid cart page </h1>
	{% endif %}
</div>