<h1> new product </h1>

<form method="post">
	{% csrf_token %}

	{{ form.product_name.label }} {{ form.product_name }}
	<br />
	{{ form.product_desc.label }} {{ form.product_desc }}
	<br />
	{{ form.price.label }} {{ form.price }}
	<br />
	{{ form.genre.label }} {{ form.genre }}
	<br />
	{{ form.release_date.label }} {{ form.release_date }}
	<br />
	{{ form.stock.label }} {{ form.stock }}
	<br />
	{{ form.merchant_id.label }} {{ form.merchant_id }}
	<br />
	{{ form.developer_id.label }} {{ form.developer_id }}
	<br />


	<input type="submit" value="Submit" />
	
</form>